<div id="confirm-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Confirm Selection</h2>
        <p class="uk-text">
            Really select
            <span class="player" style="font-weight: 900;"></span>
            from the
            <span class="team" style="font-weight: 900;"></span>
        </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">No</button>
            <button class="uk-button uk-button-primary uk-modal-close ok" type="button">Yes</button>
        </p>
    </div>
</div>